<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comments">

<!-- commments -->
<select id="cmMaxNum" resultType="integer">
	select nvl(max(cm_num),0) from comments
</select>

<insert id="cmInsert" parameterType="com.exe.dto.CommentsDTO">
	insert into comments(cmnum,brnum,cmcontent,cmnickName,cmdate,cmrating)
	values (#{cmnum},#{brnum},#{cmcontent},#{cmnickName},sysdate,#{cmrating})
</insert>

<select id="cmList" parameterType="integer" resultType="com.exe.dto.CommentsDTO">
	select cmnum,brnum,cmcontent,cmnickName,cmdate,cmrating 
	from comments where brnum=#{brnum}

</select>



</mapper>