<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="history">

<!-- history -->
<select id="hsMaxNum" resultType="int">
	select nvl(max(hsnum),0) from history
</select>

<insert id="hsInsert" parameterType="com.exe.dto.HistoryDTO">
	insert into history (hsnum,mbid,srid,brnum,hsdate,hsprice,hstotalPrice,hsoptions,ptNum)
	values (#{hsNum},#{mbId},#{srId},#{brNum},sysdate,#{hsPrice},#{hsTotalPrice},#{hsOptions},#{hsOptions})
</insert>

<select id="selectHistory" parameterType="String" resultType="com.exe.dto.HistoryDTO">
	select hs.hsdate, hs.hsprice, hs.hstotalprice, hs.hsoptions,br.brnum, br.brsubject, br.brmainphoto
	from history hs inner join board br on hs.brnum = br.brnum 
	where hs.mbid = #{mbId}
</select>

<select id="selectSellHistory" parameterType="hashMap" resultType="com.exe.dto.HistoryDTO">
	select hs.hsdate, hs.hsprice, hs.hstotalprice, hs.hsoptions,br.brnum, br.brsubject, br.brmainphoto
	from history hs inner join board br on hs.brnum = br.brnum 
	where hs.srid = #{mbId} and (br.brsubject like '%'||#{searchSellValue}||'%')
</select>

</mapper>