<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="memberMapper">

	<insert id="insertMember" parameterType="com.exe.dto.MemberDTO">
		insert into member(mbId,mbPw,mbPic,mbnickName) values(#{mbId},#{mbPw},#{mbPic},#{mbNickName})
	</insert>

	<select id="selectRegisterMember" parameterType="string" resultType="com.exe.dto.MemberDTO">
		select mbid,mbpw,mbtel,mbnickName from member where mbid=#{mbId}
	</select>

	<select id="selectReadMember" parameterType="string" resultType="com.exe.dto.MemberDTO">
		select mbid,mbpw,mbnickName,mbtel,mbpic,mbabout,bkNum,name,bank from member where mbid=#{mbId}
	</select>

<!-- 	<select id="loginMember" parameterType="string" resultType="string">
		select mbpw from member where mbid=#{mbid}
	</select> -->

	<delete id="deleteMember" parameterType="string">
		delete member where mbid=#{mbId}
	</delete>

	<update id="updatePicMember" parameterType="hashMap">
		update member set mbpic=#{mbPic} where mbid=#{mbId}
	</update>

	<update id="updateMyMember" parameterType="com.exe.dto.MemberDTO">
		update member set mbnickName=#{mbNickName},mbabout=#{mbAbout} where mbid=#{mbId}
	</update>

	<update id="updatePwMember" parameterType="hashMap">
		update member set mbpw=#{mbPw} where mbid=#{mbId}
	</update>
	
	<update id="updateBankMember" parameterType="hashMap">
	
		update member set bkNum=#{bkNum}, name=#{name}, bank=#{bank} where mbid=#{mbId}
	</update>



</mapper>