<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wishList">

<!-- history -->
<select id="wiMaxNum" resultType="int">
	select nvl(max(winum),0) from wishList
</select>

<insert id="wiInsert" parameterType="com.exe.dto.WishListDTO">
	insert into wishList (mbid,brnum,winum,widate)
	values (#{mbId},#{brNum},#{wiNum},sysdate)
</insert>

<select id="selectWishList" parameterType="String" resultType="com.exe.dto.BoardDTO">
	SELECT board.brnum,nvl(wishlist.MBID,'no') mbId, CATEGORY.CGNUM,
	member.MBID,member.MBNICKNAME,member.MBPIC,CATEGORY.CGNUM,board.BRSUBJECT,
	board.BRMAINPHOTO,board.BRPRICE,board.brcount,CATEGORY.cgCategory1
	FROM BOARD, WISHLIST,CATEGORY,MEMBER
	WHERE board.BRNUM = wishList.BRNUM
	AND board.CGNUM=CATEGORY.CGNUM
	AND board.MBID = member.MBID
	AND wishList.MBID(+) = #{mbId}
	ORDER BY board.BRCOUNT DESC

</select>

<select id="searchWishList" parameterType="String" resultType="com.exe.dto.BoardDTO">
	SELECT mbId,brNum from wishList where mbId = #{mbId}

</select>

<delete id="delWishList" parameterType="hashMap">
	delete wishList where brNum=#{brNum} and mbId = #{mbId}
</delete>

</mapper>