*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


#IDE by-product

#Intellij
.idea/
out/
target/project-1.0.0-BUILD-SNAPSHOT/
*.iml

#STS
build/
.settings/
*.classpath
*.project

#Maven
*.MF
target/m2e-wtp/web-resources/META-INF/maven/com.exe/project/pom.properties


#Project Resource
src/main/webapp/resources/images/
src/main/webapp/WEB-INF/images/
*.MF
